
body{
    margin:0;
}

.navbar{
    width: 100%;
    background-color: #0a0b27;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 23px;
    margin: 22px 23px;
    padding:2px;
}
.option-list{

    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    display: flex;
    gap: 58px;
    color: white;
    margin-top: -27px;
    padding-left: 450px;
}
.home:hover{
    cursor: pointer;
    color: red;
}
.second{
    width: 100%;
}
.third{
    display: flex;
}
.thirdpic{
    width: 50%;
    margin-top: -4px;
    padding-top: 200px;
    background-color: rgb(82, 10, 118);
    height: 800px;
    align-items: center;
    justify-content: center;
}
.text1{
    width: 203px;
    position:absolute;
    top:0;
    left:35%;
    margin-top: 190px;
    z-index: 2;
    padding-left: 3%;
    height: 20%;
    
}
.logo1{
    position: absolute;
    top:0;
    left: 37%;
    z-index: 1;
    margin-top: -14px;
    margin-left: 18px;
    height: 476px;
    width: 24%;
}
.logoVStext{
    padding-left: 35%;
    padding-top: 25%;
    padding-bottom: 25%;
    z-index: 0;
    position: relative;

}
.content{
    letter-spacing: 1px;
    padding-left: 119px;
    padding-top: 144px;
}
.heading{
    font-family: calibri light;
    font-size: 40px;
    color: #520a76;
}
.paragraph{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #520a76;
}
.bottlepic{
    padding-top: 1%;
}
.bottle{
    width: 100%;
}
.row1{
    float: left;
    margin-left: 80px;
}
.row2{
    float: left;
    margin-left: 200px;
}
.row3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mails{
    font-weight: bold;
}
.mails:hover{
    color: red;
    cursor: pointer;
}
.tclink:hover{
    color: red;
    cursor: pointer;

}
.images{
    letter-spacing: 5px;
}
.image:hover{
    cursor: pointer;
}